/* external Styling */
h3 {
    color: darkorchid;
}

p {
    color: rgb(0, 255, 255);
}

h4 {
    color: rgba(255, 0, 255, 0.75);
}

h5 {
    color: #74eb34;
}

/* Universal selector */
/* * {
    color: plum;
} */

/* Element selector */
h6 {
    color: crimson;
}

/* id selector */
#idselector {
    color: darkkhaki;
}

/* Class selector */
.Classselector {
    color: dodgerblue;
}

.largerText {
    font-size: 3rem;
}

/* Mix selector */
h6.mix {
    color: olive;
}

/* Grouping selector */
/* h5,
h6 {
    color: orange;
} */

/* Descendant selector */
div.link1 a {
    color: red;
}

div.link2 a {
    color: aqua;
}

/* Attribute selector */
input[type="text"] {
    color: red;
}

/* Pseudo class */
textarea:hover {
    background-color: yellow;
}

/* input[type="text"]:active {
    color: chartreuse;
} */

input[type="text"]:focus {
    color: cornflowerblue;
}

tr:nth-child(2) {
    color: khaki;
}

tr:nth-child(4) {
    color: orangered;
}

/* Pseudo element */
h1::before {
    content: ">>";
    color: rosybrown;
}

h1::after {
    content: "⇊";
    color: teal;
}

p::first-letter {
    font-size: 2.5rem;
}

::selection {
    background-color: turquoise;
}

p {
    /* default */
    /* font-size: 16px; */
    font-size: 1rem;

    /* default */
    text-align: left;

    text-decoration: line-through;
    /* text-decoration: underline; */

    font-family: 'Times New Roman', Times, serif;
    /* font-family: 'Island Moments', cursive; */

    /* default */
    font-weight: 400;

    text-indent: 32px;
}

a {
    text-decoration: none;
    color: chocolate;
}

h1 {
    /* background: crimson; */
    background-color: crimson;
}

body {
    /* background: url("./images/006.jpg"); */
    background-image: url("./images/006.jpg");
    background-size: cover;
    background-position: center;
}

h1.pic {
    /* width, height, border, margin */
    background-color: brown;
    color: white;

    margin: 3rem 6rem;

    padding: 1rem 2rem;
    border: 10px solid rgb(0, 255, 255);

    /* width: 350px;
    height: 20px; */

    width: 20vw;
    height: 5vh
}

button.test {
    /* pading */
    /* method 1 */
    /* padding-top: 1rem;
    padding-right: 3rem;
    padding-bottom: 2rem;
    padding-left: 5rem; */

    /* method 2 */
    /* padding: 1rem 3rem 2rem 5rem; */

    /* method 3 */
    /* padding: 1rem 2rem; */

    /* method 4 */
    padding: 2rem;
}

.at {
    background-color: cornflowerblue;
    color: aliceblue;
    text-decoration: none;
    padding: 0.75rem 1rem;
}

.at:hover {
    background-color: darkblue;
}

div.box1 {
    width: 500px;
    height: 500px;
    background-color: black;
}

div.box2 {
    width: 50%;
    height: 50%;
    background-color: aqua;
}

div.box3 {
    width: 50vw;
    height: 50vh;
    background-color: yellow;
}

a.survey {
    background-color: burlywood;
    /* width: 10vw;
    height: 10vh; */

    display: block;
    width: 5vw;
    height: 80px;
}

.picture_2 {
    width: 600px;
    height: 440px;
}

a.survey_2 {
    background-color: burlywood;

    margin: 150px 30px;
}

div.static {
    width: 400px;
    height: 800px;
    background-color: black;
}

.box_2 {
    width: 200px;
    height: 200px;
}

.box_2_1 {
    background-color: rgb(250, 162, 130);
}

.box_2_2 {
    background-color: rgb(110, 253, 110);
}

.box_2_3 {
    background-color: rgb(116, 97, 240);
}

div.relative {
    width: 400px;
    height: 800px;
    background-color: white;
}

.box_3 {
    width: 200px;
    height: 200px;
}

.box_3_1 {
    background-color: rgb(250, 162, 130);
    z-index: 4;
}

.box_3_2 {
    background-color: rgb(110, 253, 110);

    /* bottom, top, right, left */
    position: relative;
    top: 100px;
    left: 100px;
    z-index: 2;
}

.box_3_3 {
    background-color: rgb(116, 97, 240);

    /* bottom, top, right, left */
    position: relative;
    top: 50px;
    left: 50px;
    z-index: 1;
}

.box_3_4 {
    background-color: rgb(157, 245, 42);

    position: relative;
    bottom: 500px;
    left: 50px;
    z-index: 3;
}

div.absolute {
    width: 400px;
    height: 800px;
    background-color: black;
}

.box_4 {
    width: 200px;
    height: 200px;
}

.box_4_1 {
    background-color: rgb(250, 162, 130);
}

.box_4_2 {
    background-color: rgb(110, 253, 110);

    position: absolute;
    bottom: 0;
    right: 0;
}

.box_4_3 {
    background-color: rgb(116, 97, 240);
}

div.absolute_2 {
    width: 400px;
    height: 800px;
    background-color: white;
    position: relative;
}

.box_5 {
    width: 200px;
    height: 200px;
}

.box_5_1 {
    background-color: rgb(250, 162, 130);
}

.box_5_2 {
    background-color: rgb(110, 253, 110);

    position: absolute;
    bottom: 0;
    right: 0;
}

.box_5_3 {
    background-color: rgb(116, 97, 240);
}

div.fixed {
    width: 400px;
    height: 800px;
    background-color: black;
}

.box_6 {
    width: 200px;
    height: 200px;
}

.box_6_1 {
    background-color: rgb(250, 162, 130);
}

.box_6_2 {
    background-color: rgb(110, 253, 110);

    position: fixed;
    top: 200px;
    left: 200px;
}

.box_6_3 {
    background-color: rgb(116, 97, 240);
}

.box_6_4 {
    background-color: rgb(252, 34, 223);

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

div.sticky {
    width: 400px;
    height: 800px;
    background-color: white;
}

.box_7 {
    width: 200px;
    height: 200px;
}

.box_7_1 {
    background-color: rgb(250, 162, 130);
}

.box_7_2 {
    background-color: rgb(110, 253, 110);

    position: sticky;
    top: 0;
    width: 100%;
}

.box_7_3 {
    background-color: rgb(116, 97, 240);
}

ul {
    /* list-style-type: circle; */
    list-style-type: square;
}

ol {
    list-style-type: upper-roman;
}

table {
    width: 500px;
    height: 300px;
}

table, th, td {
    /* border: 1px solid black; */
    border-bottom: 3px solid rgb(74, 216, 235);
    border-collapse: collapse;
}

th, td {
    padding: 0.5rem 0.75rem;
}

th {
    background-color: #74eb34;
    color: white;
    font-size: 1.5rem;
}

td:hover {
    background-color: gray;
    color: teal;
}

h1 {
    opacity: 0.2;
}

.picture_3 {
    width: 550px;
    cursor: pointer;
}

h1 {
    /* transition: background-color 2s; */
    transition: all 2s ease-in;
}

h1:hover {
    background-color: white;
    color: blue;
}

div.container {
    width: 500px;
    height: 500px;
    background-color: white;
}

div.box_8 {
    width: 100px;
    height: 100px;
    background-color: black;
    transition: all 1s;
}

div.box_8:hover {
    transform: translate(100px, 200px);
}

div.container_2 {
    width: 500px;
    height: 500px;
    background-color: yellow;
    position: relative;
}

div.box_9 {
    width: 100px;
    height: 100px;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.container_3 {
    width: 500px;
    height: 500px;
    background-color: white;
}

div.box_10 {
    width: 100px;
    height: 100px;
    background-color: black;
    transition: all 1s;
}

div.box_10:hover {
    transform: rotate(-90deg);
}

div.container_4 {
    width: 500px;
    height: 500px;
    background-color: tomato;
}

div.box_11 {
    width: 100px;
    height: 100px;
    background-color: black;
    transition: all 1s;
    position: relative;
    top: 200px;
    left: 200px;
}

div.box_11:hover {
    /* transform: scale(1.5); */
    transform: scale(2, 3);

    /* width: 200px;
    height:300px; */
}

div.container_5 {
    width: 500px;
    height: 500px;
    background-color: white;
}

div.box_12 {
    width: 100px;
    height: 100px;
    background-color: black;
    transition: all 1s;
    position: relative;
    top: 200px;
    left: 200px;
}

div.box_12:hover {
    transform: rotateX(60deg);
}

div.container_6 {
    width: 500px;
    height: 500px;
    background-color: black;
}

div.box_13 {
    width: 100px;
    height: 100px;
    background-color: khaki;
    animation-name: cross;
    animation-duration: 2s;
    position: relative;
    /* animation-delay: 3s; */
    /* animation-iteration-count: infinite; */
    /* animation-iteration-count: 3; */
    /* animation-direction: alternate; */
    /* animation-timing-function: ease-in; */
    /* animation-fill-mode: forwards; */
    animation: cross 1s ease-in forwards;
}

@keyframes cross {
    from {
        background-color: khaki;
        top: 0;
        left: 0;
    }
    to {
        background-color: red;
        top: 400px;
        left: 400px;
    }
}

div.container_7 {
    width: 500px;
    height: 500px;
    background-color: white;
    overflow: scroll;
}

div.box_14 {
    width: 100px;
    height: 100px;
    background-color: khaki;
    position: relative;
    animation: cross_2 1s ease-in forwards;
    border-radius: 50%;
}

@keyframes cross_2 {
    from {
        background-color: khaki;
        top: 0;
        left: 0;
    }
    to {
        background-color: red;
        top: 800px;
        left: 400px;
    }
}
